
.crypto-search {
    margin-bottom: 20px;
}

.crypto-result {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.crypto-result p {
    font-size: 18px;
}

.crypto-result.error {
    color: red;
    font-weight: bold;
}
.crypto-logo-small {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}